<%- include("header") -%>

<h2>a simple backend app to help the users stay organised, prioritize their tasks, and manage their time effectively, ultimately increasing productivity and reducing stress.</h2>
<%- include("footer") -%>
